<div class="badges">
  <a href="https://github.com/DearthFunk" target="_blank" rel="noopener">
    <FaIcon @icon="github" @prefix="fab"/>
  </a>
  <a href="https://stackoverflow.com/users/2394020/dearthfunk" target="_blank" rel="noopener">
    <FaIcon @icon="stack-overflow"@prefix="fab"/>  
  </a>
</div>
