@use "sass:map";

@import 'components/header';
@import 'components/left-nav';
@import 'components/animation';
@import 'variables';


///////////////////////////////////

html {
  width: 100%;
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Julius Sans One', sans-serif, "Lucida Console", monospace;
    background-color: map.get($colorPallette, white);
    color: map.get($colorPallette, dark);
    font-size: 14px;
    user-select: none;

    div.main {
      margin-left: $left-nav-width;
      display: flex;
      flex-direction: column;
      height: 100%;
      div.content {
        flex: 1;
        overflow-y: auto;
        padding: 20px;
      }
    }
  }
}