{{on-window "mousedown" (action this.handleButtonEvent)}}
{{on-window "mouseup" (action this.handleButtonEvent)}}
{{on-window "mousemove" (action this.handleMoveEvent)}}
<canvas
  id="animation-canvas"
  width={{this.state.w}}
  height={{this.state.h}}
  {{did-insert this.canvasInsertEvent}}
  {{did-resize this.canvasResizeEvent}}
  class="animation-canvas">
</canvas>
