<div class="left-nav">
    <li class="left"><LinkTo @route="info">.info.</LinkTo></li>
    <li class="left"><LinkTo @route="wrongroute">x-099</LinkTo></li>

    <li class="left section-header">
        Apps <LeftNav::Counter>{{this.apps.length}}</LeftNav::Counter>
    </li>
    {{#each this.apps as |app|}}
        <LeftNav::Link @type='app' @route='apps' @model={{app}}>{{app.name}}</LeftNav::Link>
    {{/each}}

    <li class="left section-header">
        Albums <LeftNav::Counter>{{this.albums.length}}</LeftNav::Counter>
    </li>
    {{#each this.albums as |album|}}
        <LeftNav::Link @type='album' @route='albums' @model={{album}}>{{album.name}}</LeftNav::Link>
    {{/each}}

    <li class="left section-header">
        Animations <LeftNav::Counter>{{this.anim.animations.length}}</LeftNav::Counter>
    </li>
    {{#each this.anim.animations as |anim|}}
        <LeftNav::Link @type='animation' @route='animations' @model={{anim}}>{{anim.name}}</LeftNav::Link>
    {{/each}}

</div>