@use '../variables';
@use "sass:map";

div.header {
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
  .email {
    color: map.get(variables.$colorPallette, dark);
    font-size: 10px;
    padding-bottom: 5px;
  }
  a {
    text-decoration: none;
    color: map.get(variables.$colorPallette, dark);
  }
  div.badges {
    font-size: 18px;
    margin-top: 5px;
    .light {
      color: lighten(map.get(variables.$colorPallette, dark), 20%);
    }
  }
}