@use '../variables';
@use "sass:map";

div.left-nav {
  width: variables.$left-nav-width;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  li {
    list-style-type: none;
    padding: 5px;
    &:not(.left) {
      padding-left: 15px;
    }
    &.left {
      padding-bottom: 5px;
      padding-top: 15px;
    }
    &.section-header {
      cursor: default;
    }
    a {
      color: map.get(variables.$colorPallette, dark);
      text-decoration: none;
      transition: 50ms ease;
    }
    a:visited {
      color: darken(map.get(variables.$colorPallette, dark), 15%);
    }
    a:hover {
      color: lighten(map.get(variables.$colorPallette, dark), 30%);
      filter: blur(0.5px);

    }
    a:active {
      animation-name: blue-flash;
      animation-duration: 200ms;
    }
  }
  
  @keyframes blue-flash {
    0%   {color:darkblue;}
    25%  {color:blue;}
    50%  {color:lightskyblue;}
    75%  {color:lightsteelblue;}
    100% {color:lightgrey;}
  }
}