Info PAGE:<br>
--------------------------<br>
In my free time I build web apps, tinker in audio production, play with modular synths, code, code, code...<br>
I also tinker in the hardware world using Arduino's as MIDI controllers.<br>
This is just a place where I can mess around, and try thing out.<br>
Check out my github repos: <a href="https://github.com/DearthFunk" target="_blank" rel="noopener noreferrer">https://github.com/DearthFunk</a>
{{outlet}}